# üß™ Analyst Toolkit Tutorial: Full Data Pipeline with Penguins

This interactive notebook demonstrates the complete analyst pipeline using a synthetic **Palmer Penguins** dataset generated from the [`penguin_research_toolkit` repository](https://github.com/G-Schumacher44/penguin_research_toolkit).

Each step in the pipeline is modular, YAML-configurable, and produces exports, plots, and certification-ready reports.

This toolkit is packaged using **TOML (`pyproject.toml`)** and can be run via script or notebook.


### üß∞ Toolkit Architecture: 3-Way Modular Design

This pipeline is built around a flexible ETL framework with three usage modes:

- üìì **Notebook Mode**
  - Run individual modules or the full pipeline interactively
  - Supports HTML dashboards, widgets, and live previews
  - Ideal for iterative exploration, first-pass audits, and QA workflows

- üßµ **CLI Mode**
  - Execute the full pipeline using `run_toolkit_pipeline.py`
  - Controlled via a master YAML config
  - Exports all reports, checkpoints, and logs to disk

- üß™ **Hybrid Mode**
  - Develop in notebooks, deploy via scripts
  - Reuse the same configs across testing and production

The toolkit handles essential data cleaning and transformation tasks, enabling analysts to focus on:
- Exploratory Data Analysis (EDA)
- Investigating anomalies and data quality issues
- Extracting actionable insights from certified data

In [1]:
# üìÅ Load Configuration and Set Execution Context

from analyst_toolkit.m00_utils.config_loader import load_config

# Path to master config (modify if needed)
config_path = "config/run_toolkit_config.yaml"

# Load full configuration dictionary
config = load_config(config_path)

# Extract run-level settings
run_id = config.get("run_id", "default_run")
notebook_mode = config.get("notebook", True)

print(f"üîß Config loaded | Run ID: {run_id} | Notebook Mode: {notebook_mode}")

üîß Config loaded | Run ID: CLI_2_QA | Notebook Mode: True

In [2]:
# üì• Load Raw Data from CSV

from analyst_toolkit.m00_utils.load_data import load_csv

# Load input path from the global config (or override manually)
input_path = config.get("pipeline_entry_path", "data/raw/synthetic_penguins_v3.5.csv")
print(f"üìÇ Loading data from: {input_path}")

# Load into DataFrame
df_raw = load_csv(input_path)

üìÇ Loading data from: data/raw/synthetic_penguins_v3.5.csv

### üß™ Step 1: Run Initial Diagnostics (M01)

This module generates a profile of the raw data: shape, types, nulls, skewness, and sample rows.

This module profiles the raw dataset for key structural and quality checks:
- **Memory, Shape, Dtypes**  
- **Missing Values & Skewness**
- **Duplicate Detection**
- **Sample Rows & Descriptive Stats**

‚úÖ All results are rendered in a collapsible dashboard with exportable reports.  
You can toggle inline previews and export settings via the YAML config (`diag_config_template.yaml`).


>üõ†Ô∏è To modify thresholds or toggle sections, edit the config under `diagnostics.settings`.

In [3]:
# üìä M01: Data Diagnostics ‚Äì Profile Structure & Shape

from analyst_toolkit.m00_utils.config_loader import load_config
from analyst_toolkit.m00_utils.load_data import load_csv
from analyst_toolkit.m01_diagnostics.run_diag_pipeline import run_diag_pipeline

# --- Load module-specific config ---
diag_config = load_config("config/diag_config_template.yaml")
diag_cfg = diag_config.get("diagnostics", {})
notebook_mode = diag_config.get("notebook", True)
run_id = diag_config.get("run_id", "demo_run")

# --- Load raw data from path defined in config ---
input_path = diag_cfg.get("input_path")
if not input_path:
    raise ValueError("üõë No input_path specified in diagnostics config.")
df_raw = load_csv(input_path)

# --- Run Diagnostics Module ---
df_profiled = run_diag_pipeline(
    config=diag_cfg,
    df=df_raw,
    notebook=notebook_mode,
    run_id=run_id
)

Accordion(children=(VBox(children=(HTML(value="<h3 style='margin-top:10px'>Visual Profile</h3>"), HBox(childre‚Ä¶

### üõ°Ô∏è Step 2: Run Schema & Content Validation (M02)

This module audits the dataset against a defined schema to catch issues early and guide cleaning steps:
- **Expected Columns & Dtypes**  
- **Allowed Categorical Values**
- **Numeric Range Checks**
- **Null Allowance (optional)**

‚úÖ All results are displayed in a styled validation dashboard with exportable reports.  
You can define strict or flexible rules in the YAML config (`validation_config_template.yaml`).

> üõ†Ô∏è To adjust enforcement (e.g. halt-on-fail), set `fail_on_error` and update rules under `validation.schema_validation`.

In [4]:
# üõ°Ô∏è M02: Schema & Content Validation ‚Äì First Audit Pass

from analyst_toolkit.m00_utils.config_loader import load_config
from analyst_toolkit.m00_utils.load_data import load_csv
from analyst_toolkit.m02_validation.run_validation_pipeline import run_validation_pipeline

# --- Load config and unpack validation settings ---
val_config = load_config("config/validation_config_template.yaml")
val_cfg = val_config.get("validation", {})
notebook_mode = val_config.get("notebook", True)
run_id = val_config.get("run_id", "demo_run")

# --- Run Validation Module ---
df_validated = run_validation_pipeline(
    config=val_cfg,
    df=df_profiled,
    notebook=notebook_mode,
    run_id=run_id
)

### üßπ Step 3: Normalize & Standardize Data (M03)

This module performs rule-based cleaning and normalization to prepare the dataset for certification:
- **Column Renaming & Type Coercion**
- **Value Mapping & Text Cleaning**
- **Fuzzy Matching & Datetime Parsing**

‚úÖ Results are rendered in a structured dashboard with before/after comparisons and audit previews.  
All rules and output paths are controlled via the YAML config (`normalization_config_template.yaml`).

> üõ†Ô∏è To adjust cleaning logic, modify the `rules` block (e.g. `value_mappings`, `preview_columns`, etc).

In [5]:
# üßπ M03: Data Normalization ‚Äì Standardizing Key Fields

from analyst_toolkit.m00_utils.config_loader import load_config
from analyst_toolkit.m03_normalization.run_normalization_pipeline import run_normalization_pipeline
import logging

# --- Load Config ---
config = load_config("config/normalization_config_template.yaml")
norm_cfg = config.get("normalization", {})
run_id = config.get("run_id")
notebook_mode = config.get("notebook", True)

df_normalized = run_normalization_pipeline(
    config=norm_cfg,
    df=df_validated,
    notebook=notebook_mode,
    run_id=run_id
)

### üõ°Ô∏è Step 4: Certification Gatekeeper (M04)

This module enforces **strict schema and content rules** and is designed to **halt the pipeline** if violations are found:
- ‚úÖ All column names, data types, categorical values, and numeric ranges must pass
- üõë **`fail_on_error: true`** triggers a hard stop on validation failure

üì¶ This step can be run **at any point in the pipeline** ‚Äî not just the end.  
Use it wherever you want to **certify a dataset snapshot** or block further execution unless data meets expectations.

‚úÖ Results are rendered inline with full export support.  
All certification rules live in the YAML config (`certification_config_template.yaml`).

> üõ†Ô∏è Adjust gatekeeping behavior by modifying schema rules or toggling `fail_on_error`.

In [6]:
# üõ°Ô∏è M02: Certification (Strict Validation Gatekeeper)

import logging
from analyst_toolkit.m00_utils.config_loader import load_config
from analyst_toolkit.m02_validation.run_validation_pipeline import run_validation_pipeline

# --- Load Certification Config ---
config = load_config("config/certification_config_template.yaml")
cert_cfg = config.get("validation", {})
notebook_mode = config.get("notebook_mode", True)
run_id = config.get("run_id")

# --- Run Final Certification Pass ---
logging.info("üöÄ Starting M04: Certification (Validation Gatekeeper)")

df_certified = run_validation_pipeline(
    config=cert_cfg,
    notebook=notebook_mode,
    df=df_normalized,
    run_id=run_id
)

### üßπ Step 5: Deduplication (M05)

This module identifies and handles **duplicate rows** in the dataset.

You can choose to:
- üîç **Flag duplicates** for review  
- ‚úÇÔ∏è **Remove duplicates** directly (default: keep first occurrence)

‚úÖ Configurable logic lets you define:
- Which columns to check for duplication (`subset_columns`)
- Whether to flag or drop (`mode: "flag"` or `"remove"`)
- Columns to preview (hide IDs, timestamps, etc.)

üìÑ Results are displayed with an inline preview and summary plots.

> üõ†Ô∏è Adjust deduplication behavior in `dups_config_template.yaml`.

In [8]:
# ‚ôªÔ∏è D04: Dedupliction and Duplicates Handling

from analyst_toolkit.m00_utils.config_loader import load_config
from analyst_toolkit.m00_utils.load_data import load_csv
from analyst_toolkit.m04_duplicates.run_dupes_pipeline import run_duplicates_pipeline
import logging

# --- Load Config ---
config = load_config("config/dups_config_template.yaml")
notebook_mode = config.get("notebook", True)
run_id = config.get("run_id")


# --- Run Duplicates Module (now in 'flag' mode) ---
df_deduped = run_duplicates_pipeline(
    config=config,
    df=df_certified,
    notebook=notebook_mode,
    run_id=run_id
)

Accordion(children=(VBox(children=(HTML(value="<h3 style='margin-top:10px'>Visual Summary</h3>"), HBox(childre‚Ä¶

In [ ]:

df_deduped.shape

In [ ]:
df_deduped.columns.tolist()

### üìè Step 6: Detect Outliers (M06)

This module scans numeric columns for outliers using configurable logic:
- **Z-Score** or **IQR** methods (per column or global default)
- Adds binary flags (e.g., `*_outlier`) to the dataset if `append_flags: true`
- Skips non-numeric or excluded fields via `exclude_columns`

üìä **Interactive PlotViewer**  
If enabled, the `PlotViewer` renders **boxplots, histograms, and violin plots** inline  
‚Äî giving a fast visual summary of where anomalies occur.

üìÅ **What‚Äôs Exported:**
- ‚úÖ `df_outliers_flagged`: DataFrame with new `_outlier` columns
- ‚úÖ `detection_results`: thresholds and summary tables
- ‚úÖ Plots: saved to `exports/plots/outliers/{run_id}/`
- ‚úÖ Report: XLSX or CSV, based on config

> üõ†Ô∏è Configure methods, thresholds, excluded columns, and plot types in `outlier_config_template.yaml`.

In [ ]:
# üìè M05: Detect Outliers and Plot Visuals

import logging
from analyst_toolkit.m00_utils.config_loader import load_config
from analyst_toolkit.m05_detect_outliers.run_detection_pipeline import run_outlier_detection_pipeline
import logging
from IPython.display import display


config = load_config("config/outlier_config_template.yaml")
outlier_cfg = config.get("outlier_detection", {})

# Get global settings from the top level of the config
notebook_mode = config.get("notebook", True)
run_id = config.get("run_id") # Provide a default run_id

# The 'df_deduped' variable should be the output from your M03 Duplicates module
if 'df_deduped' in locals():
    df_outliers_flagged, detection_results = run_outlier_detection_pipeline(
        config=outlier_cfg,
        df=df_deduped, 
        notebook=notebook_mode,
        run_id=run_id
    )

### üßº Step 7: Handle Outliers (M07)

This module applies cleanup strategies to flagged outliers from the detection step:
- Strategies include:
  - `'clip'`: Caps values to threshold bounds
  - `'median'`: Imputes using median
  - `'constant'`: Replaces with fixed value (e.g., `-999`)
  - `'none'`: Leaves values untouched (default)

‚öôÔ∏è Strategy is configured per column or globally via `__default__` and `__global__`.

üìÅ **What‚Äôs Exported:**
- ‚úÖ Cleaned DataFrame: `df_handled`
- ‚úÖ Handling report (XLSX/CSV)
- ‚úÖ Optional checkpoint joblib

> üõ†Ô∏è Adjust cleanup logic, output paths, or constant fill values in `handling_config_template.yaml`.

In [ ]:
# üßº M06: Handle Outliers

import logging
from analyst_toolkit.m00_utils.config_loader import load_config
from analyst_toolkit.m06_outlier_handling.run_handling_pipeline import run_outlier_handling_pipeline


# --- Load Outlier Handling Config ---
config = load_config("config/handling_config_template.yaml")
handling_cfg = config.get("outlier_handling", {})
run_id = config.get("run_id")
notebook_mode = config.get("notebook", True)

# Pass the entire detection_results dictionary, not its unpacked components.
df_handled = run_outlier_handling_pipeline(
    config=handling_cfg,
    df=df_outliers_flagged,
    detection_results=detection_results, # Pass the whole dictionary here
    notebook=notebook_mode,
    run_id=run_id
)

### üîß Step 8: Impute Missing Values (M08)

This module fills missing (`NaN`) values using a column-specific strategy:
- `'mean'`, `'median'`, or `'mode'` for numeric/categorical inference
- `'constant'` for fixed fallback values (e.g., `"UNKNOWN"` or `"1900-01-01"`)
- Strategy is configured via the `rules.strategies` section in the YAML

üìä If enabled, comparison plots show how categorical columns changed post-imputation  
(using the same PlotViewer system).

üìÅ **What‚Äôs Exported:**
- ‚úÖ Imputed DataFrame: `df_imputed`
- ‚úÖ Report: imputation log (XLSX/CSV)
- ‚úÖ Plots: before/after comparisons (if enabled)
- ‚úÖ Optional checkpoint joblib

> üõ†Ô∏è Configure logic and column-specific strategies in `imputation_config_template.yaml`.

In [ ]:
#üîß M07: Impute Data and Plot Summary Visuals

import logging
from analyst_toolkit.m00_utils.config_loader import load_config
from analyst_toolkit.m07_imputation.run_imputation_pipeline import run_imputation_pipeline

# Load the configuration for the imputation module
config = load_config("config/imputation_config_template.yaml") 
imputation_cfg = config.get("imputation", {})
run_id = config.get("run_id")
notebook_mode = config.get("notebook", True)

df_imputed = run_imputation_pipeline(
    config=imputation_cfg,
    notebook=notebook_mode,
    df=df_handled,  # Pass the existing DataFrame here
    run_id=run_id
)

### üß© Behind the Scenes: Utility & Visual Modules

Several specialized support modules power the Analyst Toolkit pipeline behind the scenes.  
These are not called directly in the notebook, but are crucial to the system‚Äôs flexibility and polish:

#### üß∞ `m00_utils/`
- `config_loader.py`: Robust loader with support for environment paths and nested YAMLs
- `load_data.py`: Abstracted CSV/Joblib loader with encoding fallback
- `export_utils.py`: Modular export system for saving reports and checkpoints
- `rendering_utils.py`: Styled HTML table generator for dashboard outputs

#### üìä `m08_visuals/`
- `distributions.py`: Boxplots, histograms, and violin plots for outlier detection
- `summary_plots.py`: Heatmaps, missingness matrices, and dtype summaries
- `plot_viewer.py`: Interactive PlotViewer widget for inspecting flagged values and category shifts

> ‚öôÔ∏è These modules enable notebook-mode display, CLI compatibility, YAML-driven plotting, and clean HTML export dashboards.

üìÅ Explore these utilities in the `/src/` directory to understand how the toolkit remains modular, extensible, and production-grade.

## üé¨ Step 9: Final Auditing and Certifaction (M10)

This final module performs a comprehensive audit of the cleaned dataset and applies strict quality checks before certification.

It serves as the **final quality gate** and includes:
- ‚úÖ **Final Edits:** Drop or rename columns, coerce dtypes as needed
- ‚úÖ **Certification Check:** Applies validation rules with `fail_on_error: true` to enforce schema, dtypes, and content requirements
- ‚úÖ **Lifecycle Comparison:** Compares raw vs final structure, nulls, and column presence
- ‚úÖ **Capstone Report:** Renders a complete dashboard summarizing pipeline impact and status

üõ°Ô∏è If any rule is violated (e.g., unexpected nulls or schema mismatch), the system halts and logs failure details for debugging.

üìÅ **What‚Äôs Exported:**
- Final Audit Report (XLSX and Joblib)
- Final Certified Dataset (CSV and Joblib)
- Inline dashboard with all results

> üõ†Ô∏è Customize certification rules, null restrictions, or output paths in `final_audit_config_template.yaml`.

üéâ Once this step passes, your dataset is ready for **production use or modeling pipelines**.

In [ ]:
# üé¨ M10: Final Auditing and Certifaction 

from analyst_toolkit.m10_final_audit.final_audit_pipeline import run_final_audit_pipeline
from analyst_toolkit.m00_utils.config_loader import load_config

# --- Load Config ---
config_path = "config/final_audit_config_template.yaml"
config = load_config(config_path)

# --- Extract settings (this part is correct) ---
notebook_mode = config.get("notebook", True)
run_id = config.get("run_id")

# --- Run Final Audit ---
# The run_id is handled internally by the pipeline function from the config.
df_final_clean = run_final_audit_pipeline(
    config=config,
    df=df_imputed,  # This correctly passes the processed DataFrame
    notebook=notebook_mode,
    run_id=run_id
)

---

## üß≠ What‚Äôs Next?

Congratulations ‚Äî you‚Äôve now completed a full walkthrough of the Analyst Toolkit pipeline using synthetic Palmer Penguins data!

Here are some suggested next steps:

1. üîç **Explore Outputs**  
   - Review the exported reports and plots in the `exports/` folder
   - Inspect final audit and certification summaries

2. üß™ **Test with Other Datasets**  
   - Replace the penguin dataset with your own CSV in the YAML configs
   - Adjust schema, value, and range rules accordingly

3. üìì **Use the Full Pipeline Script**  
   - Try running `run_toolkit_pipeline.py` in CLI or notebook mode for a full end-to-end execution
   - Config: `config/run_toolkit_config.yaml`

4. üõ†Ô∏è **Customize Modules**  
   - Add new modules (e.g., feature engineering, modeling)
   - Use your own diagnostic thresholds or imputation logic

5. üöÄ **Package or Deploy**  
   - Deploy the toolkit in production (Airflow, Papermill, GitHub Actions, etc.)
   - Or package it as a Python module for reuse

---