# üß™ Full Pipeline Execution (Notebook Mode)

This notebook demonstrates the full pipeline execution using the master controller script `run_toolkit_pipeline.py`.

- Controlled via: `config/run_toolkit_config.yaml`
- Executes all pipeline modules in sequence (M01‚ÄìM10)
- Outputs: Dashboards, reports, plots, and the final certified dataset
- ‚úÖ Set `notebook: true` in the YAML to enable inline dashboards

>üìÇ Final outputs are exported to the `exports/` and `data/processed/` directories.

---

<details>
<summary><strong>üìé Notes & Use Cases</strong></summary>

**üß≠ Notes**
- Fully modular pipeline execution from raw to certified clean data
- Configurable behavior using a single YAML file
- Can be executed interactively (with displays) or headlessly (silent mode)

**üíº Use Cases**
- End-to-end QA audits for new or synthetic datasets
- Validating preprocessing logic during exploratory workflows
- Certifying pipeline output before downstream modeling
- Showcasing toolkit capabilities in interviews or portfolio reviews

</details>

<details>
<summary><strong>üîÅ Alternate Modes</strong></summary>

- Set `notebook: false` in the YAML to run this notebook silently (ideal for automation or CI).
- Run the pipeline as a CLI script outside notebooks with:

```bash
python run_toolkit_pipeline.py --config config/run_toolkit_config.yaml

In [1]:
from analyst_toolkit.run_toolkit_pipeline import run_full_pipeline

final_df = run_full_pipeline(config_path="config/run_toolkit_config.yaml")

2025-09-02 00:35:14,970 - INFO - --- Loading Master Orchestration Config from config/run_toolkit_config.yaml ---
2025-09-02 00:35:14,971 - INFO - --- üöö Loading initial data from data/raw/synthetic_penguins_v3.5.csv ---
2025-09-02 00:35:14,977 - INFO - --- üöÄ Starting Module: DIAGNOSTICS ---

Accordion(children=(VBox(children=(HTML(value="<h3 style='margin-top:10px'>Visual Profile</h3>"), HBox(childre‚Ä¶

Accordion(children=(VBox(children=(HTML(value="<h3 style='margin-top:10px'>Visual Summary</h3>"), HBox(childre‚Ä¶

Accordion(children=(VBox(children=(HTML(value="<h3 style='margin-top:10px'>Outlier Visualizations</h3>"), HBox‚Ä¶

Accordion(children=(VBox(children=(HTML(value="<h3 style='margin-top:10px'>Imputation Visualizations</h3>"), H‚Ä¶

## üõ†Ô∏è Next Steps

This notebook demonstrates the full analyst pipeline using notebook mode. The following enhancements are planned or encouraged for production workflows:

#### ‚úÖ CLI and Automation
- Use the CLI version for scheduled or automated runs:
  
  ```bash
  python run_toolkit_pipeline.py --config config/run_toolkit_config.yaml
  ```

- Integrate into GitHub Actions or cron jobs for continuous data QA
- Swap YAML configs to support different datasets or audit targets

#### üöÄ Planned Iterations
- Add dynamic changelog to fallow data end to end.
- Extend to namespace, and add addtional modules;
  - ML Module Evaluation Suite
  - Visual EDA Suite
- Optional integration with cloud storage (GCS / S3) for inputs and outputs
- Create a streamlined CLI onboarding script (e.g., init_pipeline.py) to scaffold configs

#### üì¶ Packaging Notes
- The toolkit is TOML-packaged and installable as a local Python module
- Follows modular design to support interactive, notebook, and script-based workflows